/**
 * Plugin main SASS
 */
/**
 * Plugin variables
 */
/* Fonts */
/* Transparency */
/* Colors */
/*
$v-secondary-color:                                  #313131 !default;
$v-accent-1-color:                                   #4B84FF !default;
$v-accent-2-color:                                   #004466 !default;

$v-text-color:                                       #ffffff !default;
$v-heading-text-color:                               #ffffff !default;
$v-link-color:                                       #00afff !default;
$v-disabled-color:                                   $v-white-transparent-light !default;
$v-success-bg-color:                                 #0EC286 !default;
*/
/* Corners */
/* Views */
/* Tabs Navigation */
/* Buttons */
/* Content */
/* Ionic variables */
/**
 * SASS shared across applet
 */
body,
body button {
  font-family: "Avenir Next", sans-serif; }

.assertive {
  color: #a00000 !important; }

.left {
  float: left; }

.right {
  float: right; }

.smaller {
  font-size: smaller; }

h4 {
  font-size: 20px; }

/* Header bar */
.bar.bar-coinbase {
  background-color: #0160D0 !important;
  border: none;
  color: #ffffff;
  background-size: 0; }

.back-button {
  color: #ffffff !important; }

/* View */
ion-content {
  background: #f6f9fc; }

/* Buttons */
button.button-primary {
  background: #0160D0;
  color: #ffffff !important; }
  button.button-primary.activated {
    border: none;
    background: #0b3260;
    color: gray !important; }

button.button-secondary {
  background: #4B84FF;
  color: #ffffff !important; }
  button.button-secondary.activated {
    border: none;
    background: #1751cd;
    color: gray !important; }

button.button-clear {
  background: transparent;
  color: #ffffff !important; }

/* List item */
svg {
  width: 30px !important; }

.item-icon-left svg,
.item-icon-right svg {
  position: absolute;
  top: 0;
  left: 15px !important;
  display: flex;
  height: 100%;
  align-items: center; }

.item {
  color: #124763; }
  .item:not(.item-divider) {
    min-height: 65px; }
  .item.item-icon-left {
    padding-left: 62px; }
  .item h2 {
    color: #124763;
    padding-top: 1px;
    font-family: "Avenir Next", sans-serif;
    font-weight: 500; }
  .item:not(.has-detail) > h2,
  .item:not(.has-detail) > span:not(.item-note) > h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .item.has-detail > p,
  .item.has-detail > span:not(.item-note) > p {
    color: #666677;
    font-size: 14px;
    font-weight: 500;
    padding-top: 2px; }
  .item > .item-note {
    position: absolute;
    top: 30px;
    right: 16px;
    text-align: right;
    line-height: 22px;
    color: #444455; }
    .item > .item-note.two-lines {
      top: 18px; }
  .item.item-icon-right > .item-note {
    right: 48px; }
  .item.append {
    border-top: none; }
  .item.info,
  .item.info > h2,
  .item.info > p {
    word-wrap: break-word;
    white-space: normal;
    background: #f6f9fc;
    color: #0160D0;
    padding-right: 16px; }

.ion-ios-arrow-right:before {
  content: "\f125";
  font-family: Ionicons;
  font-size: 20px;
  color: #d0d0d0; }

.popup-modal {
  background: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 10;
  width: 90%;
  max-width: 350px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center; }
  .popup-modal-header {
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    min-height: 120px; }
    .popup-modal-header-success {
      background: #61ca01; }
    .popup-modal-header-warning {
      background: #ffa500; }
    .popup-modal-header-img {
      height: 6rem;
      background-size: contain;
      margin-top: .3rem;
      background-repeat: no-repeat;
      background-position: center; }
    .popup-modal-header-img-success {
      padding: 35px; }
    .popup-modal-header-img-success:before {
      content: "\f120";
      font-family: "Ionicons";
      font-size: 96px;
      color: #ffffff; }
    .popup-modal-header-img-warning {
      padding: 35px; }
    .popup-modal-header-img-warning:before {
      content: "\f100";
      font-family: "Ionicons";
      font-size: 96px;
      color: #ffffff; }
  .popup-modal-content {
    padding: 0rem 1rem; }
  .popup-modal-heading {
    margin: 0 0 1rem;
    color: #444455;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.3; }
  .popup-modal-message {
    color: #666677;
    font-weight: 200; }
  .popup-modal .button {
    margin-top: 1rem; }
  .popup-modal-content-success .button {
    color: #61ca01 !important; }
  .popup-modal-content-warning .button:not(.button-secondary) {
    color: #ffa500 !important; }

.modal-backdrop.active {
  background: rgba(0, 0, 0, 0.7); }

#account ion-content {
  margin-top: calc(213px - 44px); }

#account ion-header-bar.bar-subheader {
  padding: 0;
  color: #ffffff;
  text-align: center;
  display: inline-table; }
  #account ion-header-bar.bar-subheader > span {
    width: 100%;
    display: inherit; }

#account .button-receive {
  background-image: url("../img/icon-receive.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  margin-right: 10px;
  margin-left: 15px; }

#account .button-send {
  background-image: url("../img/icon-send.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  margin-right: 10px;
  margin-left: 15px; }

#account .amount-group {
  background: #0160D0;
  height: 132px; }
  #account .amount-group .amount {
    padding-top: 32px;
    font-size: 32px; }
  #account .amount-group .altAmount {
    padding-top: 19px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500; }

#account .button-group {
  background: #ffffff;
  border-bottom: 1px solid #d0d0d0;
  width: 100%; }
  #account .button-group button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    font-size: 16px;
    font-weight: 600; }
  #account .button-group .col {
    padding-left: 8px;
    padding-right: 8px; }

#account div.item {
  height: 75px;
  border-top: none; }

#account h2.received {
  color: #00c365; }

#account .status-dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 1px; }

.popup-account-address .popup {
  width: 310px;
  border-radius: 5px;
  background: #ffffff; }
  .popup-account-address .popup .popup-head {
    display: none; }

.popup-account-address .head {
  color: #9b9bab;
  border-bottom: 1px solid #d0d0d0;
  height: 40px;
  font-size: 16px;
  padding-top: 10px; }
  .popup-account-address .head .title {
    color: #444455;
    font-weight: 500; }
  .popup-account-address .head .button {
    color: #9b9bab;
    position: absolute;
    right: 2px;
    top: -2px; }
    .popup-account-address .head .button:before {
      font-size: 30px; }

.popup-account-address .popup-body {
  padding: 0;
  color: #444455;
  text-align: center;
  overflow: hidden; }
  .popup-account-address .popup-body svg {
    width: 55px !important;
    margin-top: 10px; }
  .popup-account-address .popup-body .message {
    font-size: 16px;
    font-weight: 600;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px; }
  .popup-account-address .popup-body .detail {
    font-size: 16px;
    padding: 20px 20px 25px 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    line-height: 1.4em; }
  .popup-account-address .popup-body .qr-code-container {
    height: 185px;
    width: 185px;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #d0d0d0;
    border-radius: 5px; }
    .popup-account-address .popup-body .qr-code-container qrcode {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 5px; }
  .popup-account-address .popup-body .address {
    font-size: 13px;
    color: #444455;
    font-weight: 500;
    height: 55px;
    border-top: 1px solid #d0d0d0;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px; }
  .popup-account-address .popup-body .copied svg {
    margin-top: 25px;
    margin-bottom: 10px; }
    .popup-account-address .popup-body .copied svg * {
      fill: #61ca01; }
  .popup-account-address .popup-body .copied .message {
    font-size: 32px;
    font-weight: 500; }
  .popup-account-address .popup-body .copied .detail {
    font-size: 12px;
    color: #9b9bab;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 25px; }

.popup-account-address .warning .buttons > .button.button-primary {
  font-size: 16px;
  font-weight: 600;
  width: 45%;
  height: 40px;
  min-height: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px; }
  .popup-account-address .warning .buttons > .button.button-primary > span {
    position: relative;
    top: -1px; }

.popup-account-address .qrcode .buttons {
  height: 46px;
  border-top: 1px solid #d0d0d0;
  padding: 0; }
  .popup-account-address .qrcode .buttons > .button.button-clear {
    color: #124763 !important;
    font-size: 14px;
    font-weight: 500; }
    .popup-account-address .qrcode .buttons > .button.button-clear > span {
      position: relative;
      top: -5px; }
    .popup-account-address .qrcode .buttons > .button.button-clear svg {
      width: 15px !important;
      height: 15px;
      margin-right: 5px;
      position: relative;
      top: -3px; }
      .popup-account-address .qrcode .buttons > .button.button-clear svg * {
        fill: #124763; }
    .popup-account-address .qrcode .buttons > .button.button-clear.left {
      border-right: 1px solid #d0d0d0; }

#accounts a.item {
  height: 81px; }
  #accounts a.item.item-icon-left {
    padding-left: 57px; }
  #accounts a.item > .item-note {
    color: #9b9bab; }

#buy-sell-amount ion-content {
  background: #ffffff; }

#buy-sell-amount .bar.bar-coinbase {
  background-color: #ffffff !important; }
  #buy-sell-amount .bar.bar-coinbase .title {
    color: #444455;
    font-weight: 600; }

#buy-sell-amount .available {
  text-align: center;
  color: #444455;
  font-weight: 500; }

#buy-sell-amount .amount-container {
  width: 100%;
  position: absolute;
  top: 100px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px; }
  #buy-sell-amount .amount-container .amount {
    font-size: 48px;
    font-weight: 500;
    color: #0160D0; }
    #buy-sell-amount .amount-container .amount .placeholder {
      opacity: 0.5; }

#buy-sell-amount .currency-toggle {
  position: absolute;
  top: 90px;
  right: 10px; }
  #buy-sell-amount .currency-toggle svg {
    height: 25px; }
    #buy-sell-amount .currency-toggle svg * {
      fill: #444455; }
  #buy-sell-amount .currency-toggle .label {
    color: #444455;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -5px;
    left: 4px; }

#buy-sell-amount .keypad-group {
  position: absolute;
  width: 100%;
  bottom: 0;
  bottom: calc(constant(safe-area-inset-bottom));
  bottom: calc(env(safe-area-inset-bottom)); }
  #buy-sell-amount .keypad-group .easy-button-group {
    text-align: center;
    padding: 20px; }
    #buy-sell-amount .keypad-group .easy-button-group a {
      border: 1px solid #d0d0d0;
      padding: 5px 7px;
      margin: 0 5px;
      border-radius: 3px;
      color: #444455; }
      #buy-sell-amount .keypad-group .easy-button-group a.activated {
        background: rgba(0, 0, 0, 0.3); }
  #buy-sell-amount .keypad-group a.item {
    height: 60px;
    min-height: 0; }
    #buy-sell-amount .keypad-group a.item.has-detail {
      padding-top: 8px;
      padding-bottom: 0; }
    #buy-sell-amount .keypad-group a.item .item-note {
      top: 50%;
      transform: translateY(-50%); }
    #buy-sell-amount .keypad-group a.item.has-detail span > h2 {
      width: 80%; }
    #buy-sell-amount .keypad-group a.item:not(.has-detail) span > h2 {
      width: calc(100% - 175px); }
    #buy-sell-amount .keypad-group a.item svg * {
      fill: #0160D0; }
  #buy-sell-amount .keypad-group button {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    font-weight: 600; }

#buy-sell-confirm ion-content {
  background: #0160D0; }

#buy-sell-confirm .content-group {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%; }
  #buy-sell-confirm .content-group h4 {
    color: #ffffff;
    margin-top: 20px; }
  #buy-sell-confirm .content-group img {
    width: 140px; }

#buy-sell-confirm .amount-group {
  height: 132px;
  text-align: center; }
  #buy-sell-confirm .amount-group .amount {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#buy-sell-confirm button.done {
  background: #ffffff;
  color: #0160D0 !important;
  font-weight: 600;
  width: 90%;
  height: 60px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%); }

#buy-sell-preview ion-content {
  background: #ffffff; }

#buy-sell-preview .bar.bar-coinbase {
  background-color: #ffffff !important; }
  #buy-sell-preview .bar.bar-coinbase .title {
    color: #444455;
    font-weight: 600; }
  #buy-sell-preview .bar.bar-coinbase .back-button {
    color: #444455 !important; }

#buy-sell-preview .amount-group {
  height: 132px;
  text-align: center; }
  #buy-sell-preview .amount-group .amount {
    color: #0160D0;
    font-size: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#buy-sell-preview div.item {
  height: 60px;
  min-height: 0; }
  #buy-sell-preview div.item.has-detail {
    padding-top: 8px;
    padding-bottom: 0; }
  #buy-sell-preview div.item .item-note {
    top: 18px; }
  #buy-sell-preview div.item span > h2 {
    width: 80%; }
  #buy-sell-preview div.item svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%); }
    #buy-sell-preview div.item svg * {
      fill: #0160D0; }
  #buy-sell-preview div.item.fee {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px; }

#buy-sell-preview button.confirm {
  font-weight: 600;
  width: 90%;
  height: 60px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%); }

#linked-accounts ion-content {
  background: #ffffff; }

#linked-accounts .bar.bar-coinbase {
  background-color: #ffffff !important; }
  #linked-accounts .bar.bar-coinbase .title {
    color: #444455;
    font-weight: 600; }
  #linked-accounts .bar.bar-coinbase .button {
    color: #444455 !important; }

#linked-accounts a.item {
  height: 60px;
  min-height: 0; }
  #linked-accounts a.item.has-detail {
    padding-top: 8px;
    padding-bottom: 0; }
  #linked-accounts a.item .item-note {
    top: 18px; }
  #linked-accounts a.item span > h2 {
    width: 80%; }
  #linked-accounts a.item i.icon {
    font-size: 16px;
    color: #0160D0; }
  #linked-accounts a.item svg * {
    fill: #0160D0; }

#login ion-content {
  background: linear-gradient(to bottom, #0966d0 0%, #0854ab 100%); }

#login-form ion-content {
  background: linear-gradient(to bottom, #0966d0 0%, #0854ab 100%); }

#login-form .container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 90%;
  max-width: 350px;
  transform: translate(-50%, -50%); }
  #login-form .container .dialog {
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 5px; }
    #login-form .container .dialog .item:not(.item-input) {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 16px;
      margin: 1px; }
      #login-form .container .dialog .item:not(.item-input).title {
        font-weight: 600;
        min-height: 0; }
      #login-form .container .dialog .item:not(.item-input) > div {
        border: none;
        font-size: 12px;
        margin-top: 5px; }
    #login-form .container .dialog .item.item-input {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      min-height: 53px; }
      #login-form .container .dialog .item.item-input input {
        text-align: center; }
    #login-form .container .dialog .row {
      padding: 0;
      min-height: 53px; }
      #login-form .container .dialog .row .col {
        padding: 0; }
        #login-form .container .dialog .row .col.col-50 {
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
      #login-form .container .dialog .row button {
        font-size: 14px;
        padding: 8px;
        font-weight: 600; }
        #login-form .container .dialog .row button.cancel {
          color: #9b9bab !important; }
        #login-form .container .dialog .row button.submit {
          color: #124763 !important; }
  #login-form .container .help {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px; }

#tabs .tabs {
  background: #ffffff;
  border-top: 1px solid #d0d0d0 !important; }

#tabs > .tabs {
  display: flex;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1); }

#tabs.tabs-item-hide > .tabs {
  display: flex;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1); }

#tabs .tabs .tab-item {
  background: #ffffff;
  color: #9b9bab;
  opacity: 1.0; }
  #tabs .tabs .tab-item.tab-item-active {
    background: #ffffff;
    color: #0160D0; }
  #tabs .tabs .tab-item .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    height: 20px;
    margin: 6px 0 2px; }
    #tabs .tabs .tab-item .icon.icon-prices {
      background-image: url("../img/tab-icons/icon-prices.svg"); }
    #tabs .tabs .tab-item .icon.icon-prices-selected {
      background-image: url("../img/tab-icons/icon-prices-selected.svg"); }
    #tabs .tabs .tab-item .icon.icon-accounts {
      background-image: url("../img/tab-icons/icon-accounts.svg"); }
    #tabs .tabs .tab-item .icon.icon-accounts-selected {
      background-image: url("../img/tab-icons/icon-accounts-selected.svg"); }
    #tabs .tabs .tab-item .icon.icon-alerts {
      background-image: url("../img/tab-icons/icon-alerts.svg"); }
    #tabs .tabs .tab-item .icon.icon-alerts-selected {
      background-image: url("../img/tab-icons/icon-alerts-selected.svg"); }
    #tabs .tabs .tab-item .icon.icon-settings {
      background-image: url("../img/tab-icons/icon-settings.svg"); }
    #tabs .tabs .tab-item .icon.icon-settings-selected {
      background-image: url("../img/tab-icons/icon-settings-selected.svg"); }

#prices ion-content {
  background: #f5f7fa; }

#prices .header {
  background: #0160D0;
  width: 100%;
  height: 216px;
  position: absolute;
  top: 0; }

#prices .amount-group {
  width: 100%;
  position: absolute;
  top: 39px;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  z-index: 10; }
  #prices .amount-group button {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    top: 12px; }
    #prices .amount-group button:before {
      font-size: 14px; }

#prices .card-group {
  height: 100%;
  padding-top: 121px; }
  #prices .card-group .card {
    height: 180px;
    border-radius: 5px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); }
    #prices .card-group .card .item.item-body {
      padding: 0px; }
      #prices .card-group .card .item.item-body .currency-name {
        font-size: 24px;
        position: relative;
        top: 5px; }
      #prices .card-group .card .item.item-body .currency-amount {
        font-size: 24px;
        position: relative;
        top: 5px;
        text-align: right; }
      #prices .card-group .card .item.item-body .currency-base {
        font-size: 14px;
        font-weight: 500; }
      #prices .card-group .card .item.item-body .currency-change {
        font-size: 14px;
        font-weight: 500;
        text-align: right; }
        #prices .card-group .card .item.item-body .currency-change.down {
          color: #ff7371; }
        #prices .card-group .card .item.item-body .currency-change.up {
          color: #00c365; }
      #prices .card-group .card .item.item-body .currency-period {
        font-size: 11px;
        position: relative;
        top: -8px; }
        #prices .card-group .card .item.item-body .currency-period:before {
          content: ' ';
          display: block;
          position: relative;
          top: 50%;
          left: 55px;
          width: calc(100% - 55px + 10px);
          border-top: 1.5px solid rgba(0, 0, 0, 0.1); }
      #prices .card-group .card .item.item-body .circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        position: relative;
        top: 3px;
        margin-right: 5px; }

#settings .header {
  background: #0160D0;
  width: 100%;
  height: 125px;
  color: #ffffff;
  text-align: center; }
  #settings .header .title {
    font-size: 20px;
    padding-top: 34px; }
  #settings .header .detail {
    font-size: 14px;
    padding-top: 10px; }

#start ion-content {
  background: linear-gradient(to bottom, #0966d0 0%, #0854ab 100%); }

#start .title {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%); }
  #start .title > img {
    height: 38px; }

#start .feature-button-group {
  position: absolute;
  width: 100%;
  display: flex; }
  #start .feature-button-group.currency {
    top: 93px; }
    #start .feature-button-group.currency:before {
      top: 15px; }
    #start .feature-button-group.currency > span {
      background: #0c62c9; }
  #start .feature-button-group.time-frame {
    top: 205px; }
    #start .feature-button-group.time-frame:before {
      top: 40px; }
    #start .feature-button-group.time-frame > span {
      background: none; }
  #start .feature-button-group:before {
    content: ' ';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  #start .feature-button-group > span {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px; }
    #start .feature-button-group > span > .button {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      background: none;
      border-radius: 3px;
      min-width: 45px; }
      #start .feature-button-group > span > .button.selected {
        background: rgba(255, 255, 255, 0.05);
        color: #ffffff; }

#start .feature-group {
  position: absolute;
  top: 135px; }
  #start .feature-group .feature-left-group {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3); }
  #start .feature-group .feature-right-group {
    text-align: center; }
  #start .feature-group .feature-value {
    color: white;
    font-size: 24px;
    font-weight: 600; }
  #start .feature-group .feature-label {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }
  #start .feature-group .triangle {
    width: 0;
    height: 0;
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; }
    #start .feature-group .triangle.up {
      border-bottom: 7px solid #49dc49; }
    #start .feature-group .triangle.down {
      border-top: 7px solid #ff9393; }

#start .main-button-group {
  position: absolute;
  bottom: 0;
  width: 78%;
  left: 50%;
  transform: translateX(-50%); }
  #start .main-button-group .button {
    height: 64px;
    font-weight: 600; }
    #start .main-button-group .button.button-primary {
      background: #0160D0;
      color: #ffffff !important; }
    #start .main-button-group .button.button-secondary {
      background: #4B84FF;
      color: #ffffff !important; }
