<ion-view id="prices" show-tabs>
  <ion-nav-bar class="bar-coinbase">
    <ion-nav-title ng-style="{'opacity': titleOpacity}">{{totalBalance}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="header" ng-style="{'top': headerTop, 'height': headerHeight}"></div>
    <div class="amount-group" ng-style="{'opacity': amountGroupOpacity}">
      <div class="amount">
        {{totalBalance}}
      </div>
      <button class="button button-clear icon-right ion-chevron-right" ui-sref="tabs.accounts">
        Your Accounts
      </button>
    </div>
    <ion-scroll class="card-group" delegate-handle="cards" on-scroll="onScroll()">
      <div class="list card" ng-repeat="c in currencies track by $index">
        <div class="item item-body">
          <div class="row">
            <div class="currency-name col col-50">
              {{c.label}}
            </div>
            <div class="currency-amount col">
              {{format(c.amount, currency, {decimals: c.decimals}).localized_u}}
            </div>
          </div>
          <div class="row">
            <div class="currency-base col col-50">
              <div class="circle" ng-style="{'background': c.color}"></div>{{c.base}}
            </div>
            <div class="currency-change col" ng-class="c.amountChange < 0 ? 'down' : 'up'">
              {{format(c.amountChange, currency, {decimals: c.decimals}).localized_u}} ({{format(c.percentChange, null, {kind: 'percent', decimals: 2}).localized_u}})
            </div>
          </div>
          <div class="row">
            <div class="currency-period col">
              PAST {{period.toUpperCase()}}
            </div>
          </div>
          <!-- TODO: chart goes here -->
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
