<ion-view id="buy-sell-amount" hide-tabs>
  <ion-header-bar class="bar bar-coinbase">
    <button class="button button-icon ion-android-close" ng-click="close()"></button>
    <div class="title">{{title}}</div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="available" ng-if="action == 'sell' && isCryptoCurrency(keypad.currency)">
      {{format(account.balance.amount, account.balance.currency).localized_u}} Available
    </div>
    <div class="amount-container">
      <span class="amount" data-fittext data-fittext-min="24" data-fittext-max="48" ng-bind-html="keypad.amountHtml"></span>
    </div>
    <a class="currency-toggle" ng-click="toggleCurrency()">
      <img svg ng-src="img/icon-currency-toggle.svg">
      <div class="label">{{keypad.nextCurrency}}</div>
    </a>
    <div class="keypad-group">
      <div class="easy-button-group" ng-if="action == 'sell'">
        <a ng-click="setAmountOfAvailable(1)">{{ 'Sell Max' | translate}}</a>
        <a ng-click="setAmountOfAvailable(0.5)">{{ 'Sell 1/2' | translate}}</a>
        <a ng-click="setAmountOfAvailable(0.25)">{{ 'Sell 1/4' | translate}}</a>
      </div>
      <ion-list>
        <a class="item item-icon-left item-icon-right" ng-class="{'has-detail': paymentMethod.limit}"
          ui-sref="tabs.linked-accounts({action: action, accountId: accountId, paymentMethodId: paymentMethod.id})">
          <img svg ng-src="img/icon-{{paymentMethod.type.toLowerCase()}}.svg">
          <span>
            <h2>{{paymentMethod.name}}</h2>
            <p>{{paymentMethod.limit}}</p>
          </span>
          <span class="item-note" ng-if="paymentMethod.type.indexOf('bank') >= 0">
            {{paymentMethod.name.slice(-8)}}
          </span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </ion-list>
      <keypad config="{{keypadConfig}}" button-del-src="img/icon-back.svg"></keypad>
      <button class="button button-block button-secondary" ng-class="{'disabled': keypad.amount == 0}" ng-click="goPreview()">
        {{button}}
      </button>
    </div>
  </ion-content>
</ion-view>
