<ion-view id="accounts" show-tabs>
  <ion-nav-bar class="bar bar-coinbase">
    <ion-nav-title>{{'Accounts' | translate}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <a class="item item-icon-left item-icon-right" ui-sref="tabs.account({id: account.id})" ng-repeat="account in accounts track by account.id">
        <img svg="fill: {{account.currency.color}}" ng-src="img/icon-{{account.currency.code.toLowerCase()}}.svg">
        <h2>{{account.name}}</h2>
        <span class="item-note" ng-class="{'two-lines': account.balance.altCurrency != account.balance.currency}">
          <h2>{{format(account.balance.altAmount, currency).localized_u}}</h2>
          <p ng-if="account.balance.altCurrency != account.balance.currency">
            {{format(account.balance.amount, account.currency.code, {symbol: false}).localized_u}}
          </p>
        </span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
